<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/icon.ico' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
  <title>{% block title %}Minha Página{% endblock %}</title>

  <link rel="stylesheet" href="{% static 'css/index_adm.css' %}">
</head>
<body>
  <header class="container-nav">
    <img src="{% static 'img/logo preta.png' %}" alt="Logo Sorriso Das Graças">
    <button class="hamburger-menu" aria-label="Toggle menu">☰</button>
    <ul class="nav">
      <li class="nav-item"><a class="nav-link" href="{% url 'index_adm' %}">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'index_adm' %}">Agendamento dos Clientes</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'index_adm' %}">Agendamento dos medicos</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'index_adm' %}">Relatório dos medicos</a></li>

    </ul>
<div class="perfil_home_medico">
<img src="{% static 'img/index_medico_perfil.png' %}" alt="">
</div>

  </header>

<head>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Faça o Login</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Login:</label>
                            <input type="text" class="form-control" id="recipient-name">
                        </div>
                        <label for="password-input">Senha:</label>
                        <div class="password-container">
                            <input type="password" class="form-control" id="password-input">
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <a href="#" class="button-cadastre">Cadastre-se</a>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" id="liveToastBtn">Login</button>
                    <div class="toast-container position-fixed bottom-0 end-0 p-3">
                        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                            <div class="toast-header">
                                <strong class="me-auto">Sorriso das Graças</strong>
                                <small>Agora Mesmo</small>
                                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                            </div>
                            <div class="toast-body">
                                Login feito com Sucesso
                            </div>
                        </div>
                    </div>
                </div>
                
                <script>
                // Obtém o botão e o toast
                var toastTrigger = document.getElementById('liveToastBtn');
                var toastLiveExample = document.getElementById('liveToast');
                
                // Verifica se o botão existe na página
                if (toastTrigger) {
                    toastTrigger.addEventListener('click', function () {
                        var toast = new bootstrap.Toast(toastLiveExample);
                        toast.show();
                    });
                }
                </script>
                
            </div>
        </div>
    </div>
</header>
<section class="parte1">
    <div class="conteudo-home">
        <img class="img-principal" src="{% static  'img/home-principal.jpg' %}" alt="">
        <h1 class="titulo-home">Odontologia Sorriso das Graças</h1>
        <h2>Cuidando do Seu Sorriso com Dedicação e Excelência. Nossa equipe de profissionais qualificados
            oferece
            tratamentos de alta qualidade para garantir sua saúde bucal e um sorriso radiante.</h2>
        <button type="button" class="btn btn-outline-primary">Saiba Mais</button>
    </div>
</section>
<section class="parte2">
    <div class="vantagens">
        <img src="{% static '/img/crianca.jpg' %}" alt="">
        <h1>Por que você deve escolher nosso serviço odontológico?</h1>
        <h2>Descubra por que nosso serviço odontológico se destaca dos demais. Da nossa equipe experiente ao nosso
            equipamento de última geração, oferecemos atendimento excepcional para todas as suas necessidades
            odontológicas.</h2>
    </div>
    <div class="counteiner-vantagens">
        <div class="vantegem1">
            <h1> Equipe Especializada e Qualificada</h1>
            <br>
            <h2>Nossa equipe é formada por profissionais super experientes que entendem tudo sobre o que fazem. Eles
                estão sempre aprendendo coisas novas para te oferecer o melhor atendimento.</h2>

        </div>
        <div class="vantegem3">

            <h1>Tecnologia de Ponta e Moderna</h1>
            <br>
            <h2>Com a nossa tecnologia de ponta, seus problemas são resolvidos mais rápido e com mais precisão.
                Nossa
                infraestrutura moderna garante um atendimento mais eficiente e confortável para você.</h2>

        </div>
    </div>
    <div class="vantagens-img">
        <img class="tecnologia-img" src="{% static 'img/tecnologia.png' %}" alt="">
        <img class="equipe-img" src="{% static 'img/equipe.png' %}" alt="">
    </div>

</section>
<section class="planos">
    <div class="titulo">
        <h1><u>Planos</u></h1>
    </div>
    <div class="container-planos">
        <div class="individual">
            <div class="texto-individual">
                <p>Plano</p>
                <h1>Individual</h1>
            </div>
            <div class="precos-indv">
                <p class="moeda-indv"></p>
                <h1>39</h1>
                <h2 class="centavos-indv">,99/Mês</h2>
                <p class="mensalidade-indv"></p>
                <div class="beneficios-indv">
                    <ul>
                        <li>Exames orais;</li>
                        <li>Limpeza e polimento;</li>
                        <li>Procedimentos restauradores.</li>
                    </ul>
                </div>
                <br>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-primary" type="button">Contrate Já</button>
                </div>
            </div>

        </div>
        <div class="familia">
            <div class="texto-familia">
                <p>Plano</p>
                <h1>Família</h1>
            </div>
            <div class="precos-fam">
                <p class="moeda-fam"></p>
                <h1>249</h1>
                <h2 class="centavos-fam">,99/Mês</h2>
                <p class="mensalidade-fam"></p>
                <div class="beneficios-fam">
                    <ul>
                        <li>Coroas e Pontes;</li>
                        <li>Terapia de canal radicular;</li>
                        <li>Procedimentos restauradores.</li>
                    </ul>
                </div>
                <br>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-primary" type="button">Contrate Já</button>
                </div>
            </div>
        </div>
        <div class="premium">
            <div class="texto-premium">
                <p>Plano</p>
                <h1>Premium</h1>
            </div>
            <div class="precos-premium">
                <p class="moeda-premium"></p>
                <h1>99</h1>
                <h2 class="centavos-premium">,99/Mês</h2>
                <p class="mensalidade-premium"></p>
                <div class="beneficios-premium">
                    <ul>
                        <li> Implantes Dentários;</li>
                        <li>Odontologia Estética;</li>
                        <li>Procedimentos ortodônticos.</li>
                    </ul>
                </div>
                <br>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-primary" type="button">Contrate Já</button>
                </div>
            </div>
        </div>
    </div>
</section>

<br>
<br>
  <footer>
    <div class="container-footer">
      <div class="nome-footer">
        <h1>Sorriso das Graças</h1>
      </div>
      <br>
      <div class="redes-sociais">
        <div class="facebook">
          <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
            <path fill="currentColor"
              d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95" />
          </svg>
        </div>
        <div class="linkedin">
          <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16">
            <path fill="currentColor"
              d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248c-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586c.173-.431.568-.878 1.232-.878c.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252c-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z" />
          </svg>
        </div>
        <div class="twitter">
          <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 14 14">
            <g fill="none">
              <g clip-path="url(#primeTwitter0)">
                <path fill="currentColor"
                  d="M11.025.656h2.147L8.482 6.03L14 13.344H9.68L6.294 8.909l-3.87 4.435H.275l5.016-5.75L0 .657h4.43L7.486 4.71zm-.755 11.4h1.19L3.78 1.877H2.504z" />
              </g>
              <defs>
                <clipPath id="primeTwitter0">
                  <path fill="#fff" d="M0 0h14v14H0z" />
                </clipPath>
              </defs>
            </g>
          </svg>
        </div>
        <div class="email">
          <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
            <path fill="currentColor"
              d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2zm-2 0l-8 5l-8-5zm0 12H4V8l8 5l8-5z" />
          </svg>
        </div>
      </div>
      <div class="services">
        <h1>Services</h1>
        <a href="#">Introdução</a>
        <a href="#">Parcerias</a>
        <a href="#">Colaboração</a>
        <a href="#">Trabalhos Recentes</a>
        <a href="#">Desenvolvimento Web</a>
        <a href="#">Marketing nas Redes Sociais</a>
      </div>
      <div class="about">
        <h1>Sobre</h1>
        <a href="#">Nossa missão</a>
        <a href="#">Nossa história</a>
        <a href="#">Membros da equipe</a>
        <a href="#">Plano e Preços</a>
        <a href="#">Carreira</a>
        <a href="#">Bate-papo ao vivo</a>
      </div>
      <div class="store">
        <h1>Baixe agora:</h1>
        <img src="{% static 'img/app-store.png' %}" alt="">
        <img src="{% static 'img/play-store.png' %}" alt="">
        <a href="https://www.google.com/maps/place/Escola+Senai+%22Morvan+Figueiredo%22/@-23.5564315,-46.6009326,17z/data=!3m1!4b1!4m6!3m5!1s0x94ce594987aded63:0xbbff953e0ff625f0!8m2!3d-23.5564315!4d-46.5983577!16s%2Fg%2F1tfzc9hn?entry=ttu">
          <p>R. do Oratório, 215 - Mooca, São Paulo - SP, 03117-000</p>
        </a>
      </div>
    </div>
  </footer>
  <div class="copyright">
    <h1>Copyright © 2024 - Todos os Direitos Reservados.</h1>
  </div>

  <script src="{% static 'js/index_medico.js' %}"></script>
</body>
</html>