{% extends 'registration/base.html' %}

{% block title %}Tratamentos - Sorriso Das Graças{% endblock %}

{% load static %}

{% block content %}

<div class="container d-flex flex-column justify-content-center align-items-center min-vh-100">
  <div class="breadcrumb-container mb-4 text-center">
    <h1 class="mb-2">Consulta</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb justify-content-center">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'consulta' %}">
            Consulta</a>
        </li>
      </ol>
    </nav>
  </div>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary btn-compromisso">Salvar</button>
  </form>

  <div class="card p-4 shadow-lg form-container">
    <form id="contactForm" class="row g-3">
      <div class="col-12">
        <label for="name" class="form-label">Nome:</label>
        <input type="text" class="form-control" id="name" placeholder="Name" required />
      </div>
      <div class="col-12">
        <label for="email" class="form-label">E-mail:</label>
        <input type="email" class="form-control" id="email" placeholder="usuário@email.com" required />
      </div>
      <div class="col-12">
        <label for="phone" class="form-label">Número de telefone:</label>
        <input type="tel" class="form-control" id="phone" placeholder="(XX)XXXXX-XXXX" required />
      </div>
      <div class="col-12">
        <label for="subject" class="form-label">Assunto:</label>
        <br>
        <select name="Procedimentos" class="form-control">
          <option value="avaliacao_diagnostico">Avaliação e Diagnóstico</option>
          <option value="tratamentos_restauradores">Tratamentos Restauradores</option>
          <option value="tratamentos_periodontais">Tratamentos Periodontais</option>
          <option value="odontopediatria">Odontopediatria</option>
          <option value="ortodontia">Ortodontia</option>
          <option value="odontologia_estetica">Odontologia Estética</option>
          <option value="cirurgia_oral">Cirurgia Oral</option>
          <option value="proteses_dentarias">Próteses Dentárias</option>
          <option value="consultas_emergencia">Consultas de Emergência</option>
          <option value="acompanhamento_manutencao">Acompanhamento e Manutenção</option>

        </select>
      </div>

      <div class="col-12">
        <label for="message" class="form-label">Data/Hora da Consulta:</label>
        <input class="form-control" type="date" id="data" required>
        <select id="time-selector" class="form-control">Escolha o Horário</select>
      </div>

      <div class="col-12">
        <label for="message" class="form-label">Observações:</label>
        <textarea class="form-control" id="message" rows="1" placeholder="" required></textarea>
      </div>
      <div class="col-12 d-grid"></div>
    </form>
  </div>
</div>

<script src="{% static 'js/Consulta.js' %}"></script>


{% endblock %}