.tratamentos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
    background-color: #ffffff;
    gap: 50px;
}

.tratamento {
    background-color: #c9e9f8; 
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    width: 300px;
    transition: transform 0.3s;
}

.tratamento:hover {
    transform: scale(1.05);
}

.tratamento img {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

.tratamento h3 {
    font-size: 1.5em;
    color: #000000; 
    margin-bottom: 10px;
}

.tratamento p {
    font-size: 1em;
    color: #000000; 
    margin-bottom: 20px;
}