@font-face {
    font-family: "Prosto One";
    src: url("/static/fonts/ProstoOne-Regular.ttf");
}

@font-face {
    font-family: "Roboto Flex";
    src: url("/static/fonts/RobotoFlex-Regular.ttf");
}

@font-face {
    font-family: "Poppins Regular";
    src: url("/static/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "PlayfairDisplay";
    src: url("/static/fonts/PlayfairDisplay-Regular.ttf");
}

@font-face {
    font-family: "Inter Regular";
    src: url("/static/fonts/Inter_28pt-Regular.ttf");
}

@font-face {
    font-family: "Inter Light";
    src: url("/static/fonts/Inter_28pt-Light.ttf");
}

@font-face {
    font-family: "Montserrat Regular";
    src: url("/static/fonts/Montserrat-Regular.ttf");
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

header.container-nav {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

.container-nav {
    background-color: #78ABC3;
    padding: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.container-nav img {
    width: 10%;
    height: auto;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.nav-item {
    list-style-type: none;
    margin: 0 10px;
}

.nav-item a {
    font-family: "Poppins Regular";
    color: rgb(46, 45, 45);
    text-decoration: none;
    padding: 10px 15px;
    font-size: 90%;
    font-weight: 600;
    background-color: #78ABC3; /* Fundo azul apenas nos itens de navegação */
    border-radius: 5px; /* Bordas arredondadas para cada item */
}

.nav-item a:hover {
    color: rgb(0, 0, 0);
    transition: 800ms;
    font-size: 99%;
}

.btn-outline-primary {
    background-color: #0EC8DD;
    border-radius: 50vh;
    width: 20%;
    min-width: 150px;
    color: white;
    border-color: transparent;
    font-weight: 600;
    z-index: 15;
}

.container-nav button:hover {
    border-color: transparent;
    transition: 900ms;
}

/* Estilo do botão do menu hambúrguer */
.hamburger-menu {
    display: none;
    font-size: 2em;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    position: relative;
    left: 40%;
    top: -10vh;
    width:  10px;
    height: 50px;
}


@media (max-width: 768px) {
    .container-nav {
        height: auto;
    }

}

/* Estilos para telas menores */
@media (max-width: 768px) {
    .container-nav img {
        width: 10.3em;
        height: 5.2em;
        position: relative;
        top: 2em;
    }

    .container-nav {
        padding: 2vh;
        flex-direction: column;
        align-items: center;
    }

    .nav {
        background-color: #78ABC3; /* Adiciona cor de fundo ao menu */
        display: none;
        flex-direction: column;
        align-items: flex-end; /* Alinha os itens ao lado direito */
        position: absolute;
        top: 100%;
        right: 0; /* Move o menu para a direita */
        padding: 0; /* Remove o espaçamento interno */
        z-index: 15;
        top: 45%;
        border-radius: 2vh;
        
    }

    .nav-item:last-child {
        border-bottom: none; /* Remove a borda do último item */
    }

    .nav-item a {
        padding: 10px 20px; /* Ajusta o preenchimento dos links */
        display: block; /* Faz com que os links ocupem a largura total do item */
        background-color: #78ABC3; /* Fundo dos itens de navegação */
        color: white;
    }

    .hamburger-menu {
        display: block;
    }
    

    .nav.active {
        display: flex;
    }

    .container-nav button {
        width: 20%;
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .container-nav img {
        position: relative;
        height: 7em;
        width: 7em;
        top: 3em;
    }
}

@media (max-width: 480px) {
    .container-nav img {
        width: 30%;
    }

    .nav-item a {
        font-size: 80%;
    }
}

/* parte de cima */
h2 {
    text-align: center;
    color: #333;
}

nav {
    text-align: center;
    margin-bottom: 20px;
}

nav a {
    color: #000;
    text-decoration: none;
    margin: 0 5px;
}

nav a:hover {
    text-decoration: underline;
}

.faq-content {
    background-color: #b2dae5;
    padding: 20px;
    width: 90%;
    margin: 20px auto;
    border-radius: 40px;
    text-align: center;
}

.highlight {
    color: #d9534f;
    background: transparent;
}

.questions {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.questions ul {
    list-style: none;
    padding: 0;
    width: 45%;
}

.questions li {
    background: url('checkmark.png') no-repeat left center;
    padding-left: 30px;
    margin-bottom: 10px;
    color: #333;
    font-size: 1.2em;
    margin-top: 7px;
}

@media (max-width: 768px) {
    .questions {
        flex-direction: column;
        align-items: center;
    }

    .questions ul {
        width: 100%;
    }
}

.faq-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.faq-container {
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}
.faq-container h1{
    position: relative;
    left: 35%;
}


.pergunta {
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resposta {
    margin-top: 10px;
    display: none;
    font-size: 1em;
    line-height: 1.5;
}

.resposta.active {
    display: block;
}

.icon {
    transition: transform 0.3s ease;
}

.icon.rotate {
    transform: rotate(180deg);
}

/* rodapé */

footer{
    background-color: rgba(221, 221, 221, 0.411);
    border-top-left-radius: 3em;
    border-top-right-radius: 3em;
    padding: 3rem 2rem;
}

.container-footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nome-footer h1{
    font-family:  "Poppins", sans-serif;
    font-weight: 700;
    width: 30%;
    text-align: center;
}

.nome-footer{
    width: 10%;
}
.redes-sociais{
    display: flex;
    color: #898989;
    justify-content: flex-start;
    margin-top: 1rem;   
}

.redes-sociais svg{
    width: 1.8rem;
    height: 1.8rem;
    width: 3.7rem;
    position: relative;
    left: -0.6rem;
}

.facebook svg:hover,
.linkedin svg:hover,
.twitter svg:hover,
.email svg:hover{
    color: rgb(53, 90, 175);
    transform: scale(1.3);
    transition: 800ms;
}

.services, .about, .store{
    margin-top: 1rem;
    margin-right: 100px;
}

.services h1, .about h1, .store h1{
    font-family: "Montserrat Regular";
    font-size: 1.5rem;
    font-weight: 600;
}

.services a, .about a, .store a{
    font-family: "Inter Regular";
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8rem;
}

.services a:hover, .about a:hover{
    color: #3a5bcccc;
    transition: 500ms;
}

.store img{
    width: 14%;
}

.copyright{
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.copyright h1{
    font-size: 0.9em;
}

/* Responsividade para o rodapé */
@media (max-width: 768px) {
    .container-footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .nome-footer h1 {
        width: 100%;
        margin-bottom: 1rem;
    position: relative;
    right: 160%;
    text-align: center;
    }

    .services, .about, .store {
        width: 100%;
        margin-top: 2rem;
    }

    .services h1, .about h1, .store h1 {
        font-size: 1.3rem;
        
    }

    .services a, .about a {
        align-items: center;
    }

    .store img {
        width: 20%;
        margin-top: 1rem;
    }
}

@media (max-width: 480px) {
    .redes-sociais {
        justify-content: center;
    }

    .services h1, .about h1, .store h1 {
        font-size: 1.1rem;
    }

    .store img {
        width: 30%;
    }

    .copyright h1 {
        font-size: 0.8em;
    }
}

.password-container {
    display: flex;
    align-items: center;
}

#togglePassword {
    margin-left: 10px;
    cursor: pointer;
}

.conteudo h1{
    font-family: "Poppins Regular";
    color: #343A40;
    text-align: center;
    
}

.conteudo p{
    font-family: "Roboto Flex";
    font-size: 0.8rem;
    text-align: center;
}

.botoes{
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 2em;
}

button[type="submit"] {
    background-color: #78ABC3;
    color: #FFFFFF;
    border: none;
    border-radius: 10vh;
    padding: 15px 20px;
    cursor: pointer;
    font-family: "Roboto Flex";
    font-size: 1rem;
    font-weight: 600;
}

button[type="submit"]:hover {
    background-color: #69C4D3;
}

button[type="reset"] {
    background-color: #F8F9FA;
    color: #343A40;
    border: 1px solid #343A40;
    border-radius: 10vh;
    padding: 15px 20px;
    cursor: pointer;
    font-family: "Roboto Flex";
    font-size: 1rem;
    font-weight: 600;
}

button[type="reset"]:hover {
    background-color: #E2E6EA;
}

.hamburger-menu button:hover{
    background-color: transparent;
    color: transparent;
}